<h1>Listing Competitors</h1>

<table class="table">
    <%= for competitor <- @competitors do %>
        <tr>
            <td><%= render "competitor.html", competitor: competitor %></td>
            <td><%= link "View", to: competitor_path(@conn, :show, competitor.id) %></td>
        </tr>
    <% end %>
</table>
